{% extends 'base.html' %}


{% block title %} Data Masking  {% endblock %}


{% block body %} 
<link rel="stylesheet" href="{{url_for('static',filename='css/steps.css')}}">

<link rel="stylesheet" href="{{url_for('static',filename='css/jquery.dataTables.1.10.21.min.css')}}">
<script src="{{url_for('static',filename='js/jquery.dataTables.1.10.21.min.js')}}"></script>

<div class="header">
    <a href="#default" class="logo"><img src="{{url_for('static',filename='images/top_r3_logo.png')}}" alt="" /></a>
    <div class="header-right">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <p>{{g.user.username}}<span> &nbsp;<img src="{{url_for('static',filename='images/user.png')}}" alt="" /></span></p>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active"> <img src="{{url_for('static',filename='images/home.png')}}" alt=""/> <a class="nav-link" href="/managepatients"> Home</a> </li>
      <li class="nav-item"> <img src="{{url_for('static',filename='images/settings.png')}}" alt=""/> <a class="nav-link" href="/settings">Settings</a> </li>
      <li class="nav-item"> <img src="{{url_for('static',filename='images/help.png')}}" alt=""/> <a class="nav-link" href="/help">Help</a> </li>
    </ul>
  </div>
</nav>
<div class="sidebar">
  <ul class="side_l">
    <li><a class="active" href="/viewservices">View All Services</a></li>
    <li><a href="/filtertypes">Filter Types</a></li>
    <li><a href="/logs">Reports</a></li>
  </ul>
</div>
<div class="row">
<div class="wrapper_r">
  <div class="row">
    <div class="col-md-12">
      <h1>{{sname}}</h1>
    </div>
  </div>
  
  <div class="wizard">
    <div class="wizard-inner">
      <div class="connecting-line"></div>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"> <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1"> <span class="round-tab">
          <p>Patient Details</p>
          </span> </a> </li>
        <li role="presentation" class="active"> <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2"> <span class="round-tab">
          <div class="round-tab"></div>
          <p>New Appointment</p>
          </span> </a> </li>
        <li role="presentation" class="active"> <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3"> <span class="round-tab">
          <p>Prescription</p>
          </span> </a> </li>
        <li role="presentation" class="active"> <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab" title="Step 4"> <span class="round-tab">
          <p>Download</p>
          </span> </a> </li>
      </ul>
    </div>
  </div>

  <!-- <form action="#" method="POST"> -->
  <div class="tab_bg">
    <div class="row"> 
      <div class="row tab_box">

        <a href="/downloadPDF" download><button class="s_btn" id="printf" type="button">Download Prescription</button></a><br><br>

        {% if prescription %}

        <!-- <embed type="text/html" src="{{prescription}}" width="100%" height="500"> -->
        <!-- <img src="data:image/jpeg;base64,{{ presPNG }}" alt="img_data"  id="imgslot"/> -->
        <iframe src="" id="img" alt="Chart" height="500" width="100%"></iframe>

        <script>
            data = "{{presPNG}}"
            data = data.replace("b&#39;", "") //to get rid of start curly brace code 
            data = data.replace("&#39;", "")  //to get rid of end curly bracecode 

            document.getElementById("img").src = "data:image/png;base64,"+data; // set src
        </script>

        <!-- <iframe src="{{presPNG}}" height="500" width="100%"></iframe> -->

        {% endif %}
        


        <table class="table table-bordered">
          <!-- <thead>
            <tr>
              <th>F ID</th>
              <th>Name</th>
              <th>Area</th>
              <th>Prefix</th>
              <th>Suffix</th>
              <th>Mask</th>
              <th>Unmask</th>
            </tr>
          </thead> -->
          <tbody>
            {% if selfils %}
          {% for filter in selfils %}

            <tr>
              <td>{{filter[0]}}</td>
            <td>{{filter[2]}}</td>
            <td>{{filter[3]}}</td>
            <td>{{filter[4]}}</td>
            <td>{{filter[5]}}</td>
            <td>{{filter[6]}}</td>
            <td>
              <label class="switch">
                <input type="checkbox" name="unmask" value="{{filter[0]}}" checked>
                <span class="slider round"></span>
              </label></td>

            </tr>

            {% endfor %}
                {% endif %}

          </tbody>
        </table>
      </div>
      <div class="footer">
		  <a href="/prescription/{{g.user.id}}"><button class="prev_btn" type="button">Prescription</button></a>
      <button type="button" class="next_btn" data-toggle="modal" data-target="#myModal">Save Treatment</button>
      </div>
    </div>
  </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog" data-backdrop="false">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div align="center" class="modal-body">
         <h3>Patient Treatment Details Saved Successfully</h3>
      <div align="center">
      <a href="/savepatienttreatment/{{g.user.id}}"><button type="submit" class="s_btn">Ok</button></a>
      </div>
        
      </div>
    </div>
  </div>
</div>
<!-- </form>
 --></div>

{% endblock %}
